.music {
  margin-bottom: rem(80);

  @include media(992) {
    margin-bottom: rem(60);
  }

  &__block {
    display: flex;
    flex-wrap: wrap;
    gap: rem(24);

    // @include media(992) {
    //   grid-template-columns: repeat(1, 1fr);
    //   grid-template-rows: 3fr;
    // }
  }

  &__box-text {
    padding: rem(24);
  }

  &__block {
    margin-bottom: rem(24);

  }

  &__box {
    &.col {
      width: calc(33.3333% - 16px);

      @include media(992) {
        width: 100%;
        flex: auto;
      }
    }

    &.row {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0;
      padding: 0;
      height: 100%;
      flex-direction: row;
      justify-content: flex-start;

      @include media(992) {
        padding: rem(24);
        gap: rem(12);
        margin: 0;
        flex-wrap: nowrap;
        height: auto;
      }
    }
  }

  &__box-image {
    width: 100%;

    .col & {
      height: rem(235);
    }

    .row & {
      max-width: rem(175);
      height: rem(175);
      overflow: hidden;
      padding: 0;

      @include media(992) {
        max-width: rem(116);
        height: rem(116);
        border-radius: 10px;
      }
    }

  }

  &__box-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  &__box-text {
    .row & {
      max-width: rem(500);

      @include media(992) {
        padding: 0;
        max-width: 65%;
        justify-content: space-between;
      }
    }
  }

  &__box-category {
    line-height: rem(23);
  }

  &__box-title {
    .row & {
      @include media(992) {
        margin-bottom: rem(10);
      }
    }
  }
}