.technology {
  padding: rem(104) 0;

  @include media(992) {
    padding: rem(60) 0;
  }

  &__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: rem(24);
    margin-bottom: rem(40);
  }

  &__box {
    width: calc(33.3333% - 16px);

    &.first {
      width: 100%;
      display: flex;
      max-height: rem(535);
      flex-direction: row;

      @include media(992) {
        max-height: 100%;
        flex-direction: column;
      }
    }

    @include media(992) {
      width: 100%;
    }
  }

  &__box-image {
    height: rem(235);

    .first & {
      width: 60%;
      height: auto;

      @include media(992) {
        width: 100%;
        height: rem(235);
      }
    }
  }

  &__box-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  &__box-text {
    padding: rem(24);

    .first & {
      width: 40%;
      padding: rem(84) rem(24) rem(24);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include media(992) {
        width: 100%;
        padding: rem(24);
      }
    }
  }

  &__box-category {
    margin-bottom: rem(4);

    .first & {
      display: none;
    }
  }

  &__box-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: rem(32);

    .first & {
      font-size: 32px;
      line-height: 37px;

      @include media(992) {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: rem(24);
      }
    }

    @include media(992) {
      font-size: 18px;
      line-height: 26px;
    }
  }


  &__btn {
    width: rem(180);
    height: rem(50);
    gap: rem(8);
    margin: 0 auto;

    svg {
      max-height: rem(19);
    }
  }
}